.project-container {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 48px 20% 0px 20%;
}

.project-informationBar {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: relative;
    height: 50px;
    width: 100%;
}

.search-section {
    position:relative;
}

.searchButton {
    font-family: 'Raleway', sans-serif;
    color: rgb(197, 197, 197);
    transition: 0.2s color;
    background: black;
    border-radius: 4px;
    margin-left: 20px;
    display: initial;
    cursor: pointer;
    padding: 10px;
}

.ui.multiple.dropdown>.label {
    vertical-align:baseline;
}

.searchButton:hover {
    color: white;
}

.searchButton i {
    font-size: 0.8em;
}

.searchInformation {
    transform: translateY(-50%);
    color: rgba(0,0,0,0.6);
    position:absolute;
    cursor: default;
    right: 0px;
    top: 50%;
}

.project-item {
    border: 1px solid rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.1);
    display: inline-block;
    position: relative;
    height: 400px;
    margin: 48px;
    width: 400px;
}

.blogpost-item a {
    cursor: pointer;
}

.actions {
    position: relative;
}

.actions .tech-section {
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    top: 50%;
}

.actions .tech-section p {
    transform: translateY(50%);
    padding-right:5px;
    font-size: 1.2em;
}

.actions .tech-section .tech-icon-container {
    transform: translateY(25%);
}