.tech-icon-container, .language-text {
    display: inline;
}

.language-text {
    margin-right:5px;
    color: #868686;
}

.tech-icon svg {
    filter: grayscale(100%);
    transition: 0.5s ease all;
    margin-right:5px;
    opacity: 0.5;
    height: 25px;
}

.tech-icon svg:hover {
    transition: 0.5s ease all;
    filter: grayscale(0%);
    opacity: 1;
}