.intro-section, 
.inverted-section {
    padding: 96px 10%;
    text-align: center;
}

.inverted-section {
    background: #edeeef;
}

.section-content {
    font-size: 1.3em;
    padding: 48px 35% 0px 35%;
    font-family: 'Source Sans Pro', sans-serif;
}

.section-header {
    font-size: 2em;
}

.button {
    width: 20%;
    margin: 5px;
    padding: 10px;
    background: black;
    display: inline-block;
    transition: color 0.6s;
    color: rgb(197, 197, 197);
    font-family: 'Raleway', sans-serif;
}

.button:hover {
    color: white;
}

.blogpost-header {
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
}

.blogpost-item {
    width: 400px;
    margin: 48px;
    height: 400px;
    position: relative;
    display: inline-block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.blogpost-title {
    width: 100%;
    height: 50px;
    font-size: 1.1em;
    padding-top: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: black;
    transition: color 0.2s;
    color: rgb(197, 197, 197);
}

.blogpost-image {
    width: 100%;
    height: 300px;
}

.blogpost-bottomBar {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: black;
    position: relative;
    height: 50px;
    width: 100%;
}

.blogpost-creationDate {
    top: 50%;
    left: 15px;
    cursor: default;
    margin-top: -10px;
    position: absolute;
    transition: color 0.2s;
    color: rgb(197, 197, 197);
}

.blogpost-navigate {
    top: 15px;
    right: 15px;
    position: absolute;
    font-size: 16px !important;
}

.blogpost-navigate a {
    transition: color 0.2s;
    color: rgb(197, 197, 197);
}

.blogpost-item:hover .blogpost-title,
.blogpost-item:hover .blogpost-navigate a, 
.blogpost-item:hover .blogpost-creationDate {
    color: white;
}