.nav-bar {
    position: relative;
    flex: 0 1 auto;
    z-index: 10;
    height: 45px;
    width: 100%;
    background: #1a1a1f;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    text-align: center;
}

.nav-bar-container {
    position: absolute;
    right: 0px;
    height: 70%;
    bottom: 0px;
}

.nav-bar-menu {
    display: inline-flex;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav-bar-menu > li {
    position: relative;
    list-style: none;
}

.nav-bar-menu li a {
    margin: 10px;
    color: #dedede;
}

.nav-bar-menu li a:after {
    position: absolute;
    display: block;
    bottom: 0px;
    background: #0078d7;
    height: 0.3vh;
    width: 100%;
    opacity: 0;
    content: '';
    transition: all .3s ease-in-out;
}

.nav-bar-menu li a:hover:after, 
.active-item:after {
    opacity: 1 !important;
}

.websiteLogo {
    opacity: 0.6;
    transition: all .15s ease-in-out;
}

.websiteLogo svg {
     margin-top:4px;
}

.websiteLogo:hover {
    opacity: 1;
}

@media only screen and (max-width: 1000px) {
    .nav-bar {
        text-align: left;
    }
    
    .websiteLogo {
        padding-left: 10px;
    }
}