.footer {
    background: #1a1a1f;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 45px;
    width: 100%;
    bottom: 0px;
    flex: 0 1 auto;
}

.footer a {
    transition: all .15s ease-in-out;
    font-size: 25px;
    color: #999;
}

.footer a:hover {
    color: #dedede;
}