@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Slabo+27px');

.fade-enter {
    opacity: 0.01;
    width: 100%;
    position: absolute;
}

.fade-exit {
    width: 100%;
    opacity: 0.01;
    position: absolute;
}

.fade-exit-active {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    position: absolute;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
}

.app .content-section {
    height: 93vh;
    overflow: auto;
}

body {
    overflow:hidden;
    height: 100%;
}

.app .content {
    flex: 1 1 auto;
    position: relative;
}

.app .content,
.content-section > div {
    height: 93vh;
    overflow: auto;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
